*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 20rem;
  min-height: 100%;
  background: var(--color-bg);
  text-size-adjust: 100%;
}

body {
  min-width: 20rem;
  min-height: 100%;
  margin: 0;
}

body,
button,
input,
select,
textarea {
  font: inherit;
}

button,
input,
select,
textarea {
  color: inherit;
}

button {
  border: 0;
}

a {
  color: inherit;
}

h1,
h2,
p {
  margin-block: 0;
}

img,
svg,
canvas {
  display: block;
  max-width: 100%;
}

kbd {
  font-family: var(--font-mono);
}
